AIRFLOW_UID=50000

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

# Variables métier du DAG
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
WEATHER_CITIES=Paris,Berlin,Madrid
OUTPUT_CSV=/opt/airflow/logs/weather_openmeteo.csv