# UID de l'utilisateur Airflow défaut : 50000
AIRFLOW_UID=50000

# Identifiants Postgres (doivent correspondre à ceux du service postgres dans docker-compose.yaml)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Identifiants de l'utilisateur admin Airflow (interface web)
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
